* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color: rgb(247, 226, 223);
    --hover-background-color: rgb(255, 255, 255);
    --ico-color: #000000;
    --border-color: rgb(24, 26, 26);
    --bg-color: rgb(24, 26, 26);
    --hover-dark: black;
    --input-color: rgb(247, 226, 223);
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

body {
    background-image: linear-gradient(100deg, rgb(87, 86, 86), rgb(6, 46, 63));
    font-family: "Work Sans", sans-serif;
    color: var(--color);
}

::-webkit-scrollbar {
    width: 8px;   
}

::-webkit-scrollbar-track {
    background-color: #181a1a;
}

::-webkit-scrollbar-thumb {
    background-color: #ffdfdb;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bba3a0;
}

nav {
    width: 100%;
    height: 85px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

svg {
    fill: #151513;
    color: #fff !important;
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    transform: scale(-1, 1);
}

svg .octo-arm {
    transform-origin: 130px 106px;
    background-color: transparent;
}

nav .colors {
    background-color: inherit;
    padding-right: 50px;
}

nav .colors .gradient,
nav .colors .light,
nav .colors .dark {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid #d1dae3;
    margin-inline: 6px;
    cursor: pointer;
    transition: 0.3s;
}

nav .colors .gradient {
    background-image: linear-gradient(100deg, #575656, #062e3f);
}

nav .colors .light {
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
}

nav .colors .dark {
    background-image: linear-gradient(100deg, #001214, #001f29);
}

nav .colors .gradient:hover,
nav .colors .light:hover,
nav .colors .dark:hover {
    box-shadow: 0 0 8px white;
    transition: 0.3s;
}

.typewriter {
	display: inline-block;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    border-right: 3px solid var(--border-color);
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 96px;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: var(--border-color); 
    }
}

main {
    width: 75%;
    margin-inline: auto;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 96px;
}

main .form {
    width: 50%;
    position: relative;
}

main .form button .fa-plus,
main .task-list {
    max-width: 70%;
}

main .form button .fa-plus,
.task-item .btn-group button .fa-solid{
    color: var(--ico-color);
}

main .form input,
main .task-item {
    width: 100%;
    height: 50px;
    color: var(--input-color);
    background-color: var(--bg-color);
    outline: none;
    border: none;
    padding: 20px;
    padding-right: 85px;
    border-radius: 50px;
    transition: 0.3s;
    font-family: "Arima", system-ui;
    font-weight: 400;
    font-size: 17px;
}

main .form input:hover {
    background-color: var(--hover-dark);
    transition: 0.3s;
}

main .form .add,
main .task-item .btn-group {
    background-color: var(--color);
    width: 70px;
    outline: none;
    border: none;
    border-radius: 50px;
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    cursor: pointer;
    transition: 0.3s;
}

main .form .add:hover,
main .task-item .done:hover,
main .task-item .delete:hover {
    background-color: var(--hover-background-color);       
    box-shadow: 0 0 10px #fff8;
    transition: 0.3s;
}

main .time {
    font-weight: 300;
    padding-block: 30px;
}

main .task-item {
    width: 100;
    height: auto;
    margin-inline: auto;
    padding-block: 10px;
    padding-inline: 25px 150px;
    border-radius: 30px;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    list-style: none;
    margin-bottom: 15px;
    text-align: left;
    line-height: 20pt;
}

main .task-item .btn-group {
    width: 110px;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .task-item .done,
main .task-item .delete {
    background-color: var(--color);       
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

main .task-item .delete {
    width: 53px;
    height: 40px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transition: 0.3s;
}

main .task-item .done {
    width: 53px;
    height: 40px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    transition: 0.3s;
}